<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>One - AUv3 AppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>One - All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>One - Shared Code.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>One - Standalone Plugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>549D5484167E4D6164BE2867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAC6A9F6B1DA5D2B76B6112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D715CF94940B231671014783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFD95DC28C781A776744D197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
